@charset "UTF-8";
/* Variables  */
:root {
  --bg-principal: #0b0b0b;
  --bg-secundario: #0f0b0b;
  --color: #ececec;
  --sombra: #2e2e2e;
  --tipo-principal: "Roboto", Arial;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
  outline: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  font-size: 16px;
  font-family: var(--tipo-principal);
  color: var(--color);
  background: var(--bg-principal);
}

.wrap {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.wrap__card {
  width: calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #006eff;
  box-shadow: 0 0 4px 2px #3b3b3b;
  cursor: pointer;
  transition: all ease 0.3s;
}
.wrap__card:hover {
  box-shadow: 0 0 6px 4px #3b3b3b;
}
.wrap__h3 {
  font-size: 20px;
  font-weight: 500;
}
.wrap__p {
  font-size: 14px;
  line-height: 2em;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  left: -120%;
  top: -120%;
  opacity: 0;
  transition: all ease 1s;
  align-items: center;
  justify-content: center;
}
.popup__pop {
  display: flex;
  position: relative;
  width: 80%;
  height: 80%;
  background: var(--bg-principal);
  border-radius: 15px;
  box-shadow: 0 0 4px 2px #3b3b3b;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.popup__div-img {
  flex-basis: 40%;
  border-radius: 10px;
  overflow: hidden;
}
.popup__h3 {
  font-size: 26px;
  font-weight: 500;
  flex-basis: 100%;
  text-align: center;
}
.popup__p {
  font-size: 14px;
  line-height: 2em;
  flex-basis: 50%;
  text-align: center;
}
.popup__btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.popup__btn span {
  font-size: 24px;
}

.popup--visible {
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}/*# sourceMappingURL=styles.css.map */